body{
    background-image: url(/img/wp3070125.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
h1{
    font-family: Beatstreet;
    font-size: 6em;
    color: rgb(226, 79, 21);
    
}
.fondo{
    display: flex;
    position: relative;
    margin-top: 42em;
    margin-left: 75em;
    
}
